@using FormSubmission.Models
@model User

<div class="jumbotron">
    <h1 class="display-4">Form Results</h1>
</div>
<div class="results">
    <h6>Success!</h6>
    <table class="table table-borderless">
        <tr>
            <td>First Name:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>@Model.Password</td>
        </tr>
    </table>
</div>
